* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  text-align: center;
  color: white;
  padding: 20px;
  background-color: rgb(255, 180, 82);
}

.header h1{
  margin: 0;
  font-size: large;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #6dd5ed, #2193b0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}


.search {
  margin: 30px auto;
  border-radius: 10px;
  color: black;
  border: 1px solid black;
  max-width: 350px;
}


button {
  padding: 12px;
  font-size: 16px;
  color: #fff;
  background: #ff7e5f;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background: #feb47b;
}


.details{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  max-width: 300px;
  width: 100%;
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1); 
}
